section {
    background-color: #FDC094;
    color: black;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    margin-top: 0;
}

.impressum{
    margin-top: 2%;
    margin-bottom: 2%;
    width: 50%;
    height: 50%;
}